.spacer {
  flex: 1 1 auto;
}

.main-container {
  padding: 40px;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 10px;
  color: #333;
}

p {
  margin-bottom: 30px;
  color: #666;
  font-size: 1.2rem;
}